{% extends "_template.html.twig" %}

{% block title %}
    Confirmation du compte 
{% endblock %}


{% block content %}



<div class="section">
    <h2 class="title"> Confirmation de votre compte</h2>
</div>


{% include "includes/flash_message.html.twig" %}  






{% endblock %}
