{% extends '_template.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="title"> Editer profile </h2>
    </div>





{% endblock %}


